<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #05294e;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/img/whitelogo.png" alt="Tepak Logo" width="130" height="50" class="d-inline-block align-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="login.html"> Login </a></li>
            </ul>
        </div>
    </div>
</nav>